@media (max-width: 375px) {
  * {
    overflow-x: hidden;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.btn {
  padding: 1rem;
  border-radius: 0.6rem;
  background: #118da8;
  color: #fff;
  font-size: 1.7rem;
  line-height: 2.7rem;
}
.btn:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #fff;
  color: #118da8;
}

@media (max-width: 375px) {
  .btn {
    display: block;
    max-width: 35rem;
    text-align: center;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  padding-top: 4.5rem;
}
.header .header-line {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-line .header-line__logo {
  max-width: 25rem;
}
.header .header-line .header-line__nav {
  margin-left: 70rem;
}
.header .header-line .header-line__nav .line-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header-line .header-line__nav .line-nav__list .line__list-item a {
  padding-right: 3rem;
  color: #fff;
  font-size: 1.7rem;
  line-height: 2.7rem;
  /* 158.824% */
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header .header-line .header-line__nav .line-nav__list .line__list-item a:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #118da8;
}

@media (max-width: 375px) {
  .header {
    padding-top: 2.5rem;
  }
  .header .header-line {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-line .header-line__logo {
    margin-left: 2rem;
  }
  .header .header-line .header-line__nav {
    opacity: 0;
  }
  .header .header-line .header-line__nav .line-nav__list {
    display: block;
  }
  .header .header-line .header-line__nav .line-nav__list .line__list-item a {
    padding-right: inherit;
    font-size: 1.7rem;
    line-height: inherit;
  }
  .header .header-line .mob-menu {
    margin-right: 3rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .header .header-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1024px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .header-line .header-line__nav {
    opacity: 0;
    margin-left: inherit;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.mob-menu #burger-btn:checked ~ .mob-menu_list {
  display: block;
}
.mob-menu .menu-label {
  display: none;
}
.mob-menu .menu-label .menu-span {
  margin: 0.5rem 0;
  display: block;
  width: 3rem;
  height: 0.3rem;
  background: #ffffff;
}
.mob-menu .mob-menu_input {
  opacity: 0;
}
.mob-menu .line-nav__list {
  z-index: 2;
  position: absolute;
  background: #111213;
  border-radius: 1.2rem;
  padding: 1rem;
  max-width: 10rem;
}
.mob-menu .line-nav__list .line__list-item a {
  padding-right: 3rem;
  color: #fff;
  font-size: 1.7rem;
  line-height: 2.7rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.mob-menu .line-nav__list .line__list-item a:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #118da8;
}

@media (max-width: 375px) {
  .line-nav__list {
    right: 1rem;
  }
}
@media (max-width: 1024px) {
  .mob-menu .menu-label {
    display: block;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}
.hero .hero-img {
  width: 75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}
.hero .hero-text {
  margin-top: 20%;
}
.hero .hero-text .hero-title, .hero .hero-text .next, .hero .hero-text .level {
  color: #fff;
  font-size: 6.4rem;
  line-height: 8.8rem;
  letter-spacing: 3.2px;
}
.hero .hero-text .hero-title:hover, .hero .hero-text .next:hover, .hero .hero-text .level:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}
.hero .hero-text .next {
  position: relative;
}
.hero .hero-text .next::before {
  content: "";
  background-image: url(../img/icons/blue-underline.svg);
  background-repeat: no-repeat;
  width: 14rem;
  height: 10.5rem;
  bottom: -1.8rem;
  background-size: cover;
  position: absolute;
  z-index: 2;
}
.hero .hero-text .level {
  font-size: 8rem;
  font-weight: 900;
}

@media (max-width: 1024px) {
  .hero .hero-img {
    width: 50rem;
  }
  .hero .hero-text {
    margin-top: 13%;
    margin-left: 5%;
    max-width: 44rem;
  }
  .hero .hero-text .hero-title {
    font-size: 5rem;
  }
}
@media (max-width: 375px) {
  .hero {
    display: block;
    margin-bottom: 10rem;
  }
  .hero .hero-img {
    width: 37.5rem;
  }
  .hero .hero-text {
    margin: 3rem 0;
  }
  .hero .hero-text .hero-title, .hero .hero-text .next, .hero .hero-text .level {
    text-align: center;
    max-width: 37.5rem;
    font-size: 6.4rem;
    letter-spacing: 3.2px;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.episodes {
  margin-top: 10rem;
}
.episodes .episodes-line {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.episodes .episodes-line .episodes-title {
  color: #fff;
  font-size: 6.4rem;
  line-height: 79.2px;
  letter-spacing: 2.88px;
}
.episodes .episodes-line .episodes-title:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}
.episodes .block-episode {
  margin-top: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3.2rem;
  background-color: #000;
}
.episodes .block-episode:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: #118da8;
  background: #083f4b;
}
.episodes .block-episode .block-img {
  padding: 5rem 3rem;
}
.episodes .block-episode .block-text {
  margin-left: 6rem;
}
.episodes .block-episode .block-text .text-title {
  max-width: 56rem;
  color: #fff;
  font-size: 5rem;
  line-height: 70.4px;
  letter-spacing: 2.56px;
}
.episodes .block-episode .block-text .text-more {
  width: 89%;
  margin: 2.3rem 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.7rem;
  line-height: 3.3rem;
}

@media (max-width: 375px) {
  .episodes {
    margin-top: 5rem;
  }
  .episodes .episodes-line {
    display: block;
  }
  .episodes .episodes-line .episodes-title {
    margin: 4rem 0;
    font-size: 3.6rem;
    line-height: 3rem;
    letter-spacing: 0.8rem;
  }
  .episodes .block-episode {
    margin: 3rem 0;
    border-radius: 1rem;
    display: block;
    height: 67rem;
    width: 37.5rem;
  }
  .episodes .block-episode:nth-child(1) {
    height: 72rem;
  }
  .episodes .block-episode .block-img {
    padding: 3rem 2rem;
  }
  .episodes .block-episode .block-text {
    margin-left: inherit;
    padding: 1rem;
  }
  .episodes .block-episode .block-text .text-title {
    max-width: inherit;
    font-size: 2rem;
    line-height: inherit;
    letter-spacing: inherit;
  }
  .episodes .block-episode .block-text .text-more {
    width: inherit;
    font-size: 1.6rem;
    line-height: inherit;
  }
  .episodes .block-episode .block-text a {
    margin-top: inherit;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.creator {
  margin-top: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.creator .creator-block__text .curcle {
  width: 12rem;
  height: 12rem;
  border-radius: 40rem;
  background: #118da8;
  position: relative;
  margin-bottom: 1rem;
}
.creator .creator-block__text .curcle::before {
  content: "";
  background-image: url(../img/icons/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
  width: 18rem;
  top: 35%;
  left: 1.6rem;
  height: 10rem;
}
.creator .creator-block__text .block-text__title {
  color: #fff;
  font-size: 6.5rem;
  line-height: 79.2px; /* 121.846% */
  letter-spacing: 2.88px;
}
.creator .creator-block__text .block-text__title:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}
.creator .creator-block__text .block-text__more {
  max-width: 83%;
  margin: 2rem 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2.2rem;
  line-height: 3.3rem; /* 150% */
}
.creator .creator-block__text .block-text__more:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}
.creator .creator-block__image {
  width: 65rem;
}
.creator .creator-block__image img {
  max-width: 65rem;
  margin-left: 10%;
  border-radius: 1.2rem;
}

@media (max-width: 375px) {
  .creator {
    display: block;
  }
  .creator .creator-block__text {
    max-width: 45rem;
  }
  .creator .creator-block__image img {
    max-width: 35rem;
    margin-left: inherit;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.reviews {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10rem;
}
.reviews .block-reviews {
  margin: 1rem;
  border-radius: 3.2rem;
  background: #000;
  width: 37rem;
  height: 30rem;
}
.reviews .block-reviews:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: #118da8;
  background: #083f4b;
}
.reviews .block-reviews .block-content {
  padding: 3.5rem 4rem;
}
.reviews .block-reviews .block-content .block-revies__title {
  max-width: 25rem;
  color: #fff;
  font-size: 28px;
  line-height: 43.2px;
}
.reviews .block-reviews .block-content .block-revies__title:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}
.reviews .block-reviews .block-content .block-revies__username {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  line-height: 28.8px;
}
.reviews .block-reviews .block-content .block-revies__username:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

@media (max-width: 375px) {
  .reviews {
    display: block;
    margin-top: inherit;
  }
  .reviews .block-reviews {
    margin: 1rem;
    width: 36rem;
    height: auto;
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.sec-form {
  margin-top: 10rem;
}
.sec-form .block-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 37rem;
  border-radius: 3.2rem;
  background: #000;
}
.sec-form .block-form .block-form__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7rem 5rem;
}
.sec-form .block-form .block-form__text .block-form__title {
  max-width: 40rem;
  color: #fff;
  font-size: 7.5rem;
  line-height: 65.2px;
  letter-spacing: 0.1rem;
}
.sec-form .block-form .block-form__text .block-form__title:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}
.sec-form .block-form .form {
  margin-top: 5rem;
  margin-left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sec-form .block-form .form input {
  font-size: 1.7rem;
  width: 40rem;
  height: 6.2rem;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  background: #1b1e1e;
  color: rgba(255, 255, 255, 0.7);
  padding-left: 1rem;
}
.sec-form .block-form .form .form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 375px) {
  .sec-form .block-form {
    width: 37.5rem;
    display: block;
    height: 65rem;
    border-radius: 1rem;
  }
  .sec-form .block-form .block-form__text {
    padding: inherit;
  }
  .sec-form .block-form .block-form__text .block-form__title {
    max-width: 35rem;
    height: 12rem;
    font-size: 6.5rem;
    line-height: 5rem;
    letter-spacing: 0.1rem;
  }
  .sec-form .block-form .form {
    margin-left: inherit;
    display: block;
  }
  .sec-form .block-form .form input {
    max-width: 37.5rem;
    height: 6.2rem;
    margin-bottom: 2rem;
    padding-left: inherit;
    border-radius: 0.6rem;
    background: #1b1e1e;
    color: rgba(255, 255, 255, 0.7);
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #1b1e1e;
}

.container {
  margin: 0 auto;
  width: 1200px;
}
@media (max-width: 360px) {
  .container {
    width: 350px;
  }
}
.container span {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.cc-logo {
  font-size: 3rem;
  color: #fff;
  font-family: "Saira Stencil One", sans-serif;
}
.cc-logo:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

.mini-subtitle {
  color: #118da8;
  font-size: 1.4rem;
  line-height: 2.7rem;
}

.listen {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30rem;
  height: 30rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listen .listen-title {
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.listen .listen-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 25rem;
}
.listen .listen-holder a i {
  color: #fff;
  font-size: 3rem;
}
.listen .listen-holder a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #6f7171;
}

@media (max-width: 375px) {
  .listen {
    margin-left: 4rem;
    height: 2rem;
  }
  .listen .listen-title {
    text-align: center;
  }
}
.none {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.footer {
  padding: 5rem 4rem;
}
.footer .listen {
  margin: 0;
}
.footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer_content .footer-block__logo a i {
  font-size: 2.8rem;
  color: #fff;
  margin-right: 1rem;
  margin-top: 1rem;
}
.footer .footer_content .footer-block__logo a i:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
}
.footer .footer_content .footer-block__logo #inst i:hover {
  color: #cc2366;
}
.footer .footer_content .footer-block__logo #facebook i:hover {
  color: #316FF6;
}
.footer .footer_content .footer-block__logo #x-twitter i:hover {
  color: rgb(95, 226, 224);
}
.footer .footer_content .footer-block__nav {
  display: inline-block;
}
.footer .footer_content .footer-block__nav .footer-list .footer-list-item {
  margin-left: 1.8rem;
}
.footer .footer_content .footer-block__nav .footer-list .footer-list-item a {
  padding-left: 2.5rem;
  color: #fff;
  font-size: 1.7rem;
  line-height: 33.5px;
}
.footer .footer_content .footer-block__nav .footer-list .footer-list-item a:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}
.footer .footer_content .footer-block__help {
  display: inline-block;
}
.footer .footer_content .footer-block__help .footer-list .footer-list-item {
  margin-left: 1.8rem;
}
.footer .footer_content .footer-block__help .footer-list .footer-list-item a {
  color: #fff;
  font-size: 1.7rem;
  line-height: 3.4rem;
}
.footer .footer_content .footer-block__help .footer-list .footer-list-item a:hover {
  -webkit-transition: 0.8s ease-out;
  transition: 0.8s ease-out;
  color: #1f7177;
}

@media (max-width: 375px) {
  .footer .footer_content {
    padding: inherit;
    display: block;
  }
  .footer .footer_content .footer-block__logo {
    margin: 2rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer_content .footer-block__logo a {
    margin-left: 1rem;
  }
  .footer .footer_content .footer-block__nav {
    display: inline-block;
    margin-right: 5rem;
  }
  .footer .footer_content .footer-block__nav .footer-list {
    margin-bottom: 3rem;
  }
  .footer .footer_content .footer-block__nav .footer-list .footer-list-item {
    margin-left: inherit;
  }
  .footer .footer_content .footer-block__nav .footer-list .footer-list-item a {
    padding-left: inherit;
  }
  .footer .footer_content .footer-block__help {
    display: inline-block;
  }
}